<h3>
  {{title}}
</h3> 

<br>
 
<div class="row">
  <div class="col-md-12">
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='movie'" (click)="filterBy='movie'">Movie</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='boats'" (click)="filterBy='boats'">Boats</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='batman'" (click)="filterBy='batman'">Batman</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='cat'" (click)="filterBy='cat'">Cats</button>
      <button class="btn btn-lg btn-info" [class.active]="filterBy=='brad-pitt'" (click)="filterBy='brad-pitt'">Brad Pitt</button>
    
  </div>
  
  <div class="col-md-12"><br></div>
  
  <div class="col-md-4" *ngFor="let image of (visibleImages | imageFilter:filterBy)">
    <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="{{ image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ image.category }}</h5>
          <p class="card-text">{{ image.caption }}</p>
          <a [routerLink]="['/image', image.id]" class="btn btn-primary">Go to Image</a>
        </div>
      </div>
    </div>
</div>